.header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cadastro-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}
