<ion-content class="ion-padding cadastro-content" scroll-y="true" fullscreen="true">
  <div class="header">
      <div id="voltar">
        <ion-button fill="clear" (click)="goBack()">
          <img src="../../assets/icon/voltar.png" alt="loja" width="45" height="45" />
        </ion-button>
      </div>
    </div>
  <div class="container">
    <app-form-box>

      <app-input-component [label]="'Titulo'" [type]="'text'" [(model)]="title"></app-input-component>
      <app-input-component [label]="'Descrição'" [type]="'text'" [(model)]="description"></app-input-component>
      <app-input-component [label]="'Valor'" [type]="'number'" [(model)]="cost"></app-input-component>
      

      <div class="buttons">
        <app-submit-button [label]="'EDITAR RECOMPENSA'" [onClick]="prizeEdit"></app-submit-button>
      </div>
    </app-form-box>
  </div>
</ion-content>
