<ion-content [fullscreen]="true" class="container">
  <div class="home-container">
    <div class="header">
       <app-balance-box [balance]="user?.balance"></app-balance-box>
      <div id="voltar">
        <ion-button fill="clear" (click)="goBack()">
          <img src="../../assets/icon/voltar.png" alt="loja" width="45" height="45" />
        </ion-button>
      </div>
    </div>

    <div class="cards-scroll-wrapper">
      <div class="cards-container">
        <ng-container *ngFor="let prize of prizes">
          <app-prize-card [prize]="prize" (prizeDeleted)="deletePrize($event) "(prizeRescue)="rescuePrize(prize)"></app-prize-card>
        </ng-container>
      </div>
    </div>
    <app-add-button [onClick]="addPrize"></app-add-button>
  </div>
</ion-content>