<ion-content [fullscreen]="true" class="container">
  <div class="home-container">

    <div class="header">
      <app-balance-box [balance]="user?.balance"></app-balance-box>
      <div id="loja">
        <ion-button fill="clear" (click)="goShop()">
          <img src="../../assets/icon/cifrao.png" alt="loja" width="45" height="45" />
        </ion-button>
      </div>
    </div>

    
    <div class="cards-scroll-wrapper">
      <div class="cards-container">
        <ng-container *ngFor="let task of tasks">
          <app-task-card *ngIf="!task.status" [task]="task" (progressUpdated)="regProgress($event)" (taskDeleted)="deleteTask($event)"></app-task-card>
        </ng-container>
      </div>
    </div>
    
    
    <app-add-button [onClick]="addTask"></app-add-button>

  </div>
</ion-content>
